<div id="root">
  <div class="layout">
    <div class="header">
      <div class="navs">
        <div id="logo">
        </div>
        <div class="routes">
          <a [routerLink]="['/home']"><strong>首页</strong></a>
          <a><strong>公告</strong></a>
          <a><strong>动态</strong></a>
          <a><strong>借阅</strong></a>
          <a [routerLink]="['/login']"><strong>登录</strong></a>
        </div>
        <div id="release">
        </div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
