<div id="root">
  <div class="layout">
    <div class="header">
      <div class="navs">
        <div id="logo">
        </div>
        <div class="routes">
          <a [routerLink]="['/home']"><strong>首页</strong></a>
          <a><strong>公告</strong></a>
          <a><strong>动态</strong></a>
          <a><strong>借阅</strong></a>
          <a [routerLink]="['/login']" *ngIf="!isLogin"><strong>登录</strong></a>
          <mat-menu #personalMenu="matMenu">
            <button mat-menu-item><strong>个人信息</strong></button>
            <button mat-menu-item><strong>我的动态</strong></button>
            <button mat-menu-item><strong>我的借阅</strong></button>
            <button mat-menu-item (click)="logout()"><strong>注销</strong></button>
          </mat-menu>
        </div>
        <div id="release" [matMenuTriggerFor]="personalMenu" (click)="openPersonalMenu()">
          <i *ngIf="isLogin" nz-icon nzType="user" nzTheme="outline" style="font-size: 30px;color: rgb(237,205,151)"></i>
        </div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
