<div id="home">
  <div class="left">
  </div>
  <div class="right">
    <div class="image-board">
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let banner of banners">
          <img src="../../../assets/imgs/{{banner.name}}.jpg">
        </div>
      </nz-carousel>
    </div>
    <div class="bulletin">
      <ul class="items">
        <li><a>欢迎2019届新成员加入</a></li>
        <li><a>2020计算机设计大赛章程</a></li>
        <li><a>庆祝软网成立20周年</a></li>
      </ul>
    </div>
  </div>
  <div class="margin">
  </div>
</div>
<div class="footer">
  <div class="left">
    <div class="info">
      <p>
        @1999-2020 AHPU Software & Network Application Association
      </p>
    </div>
  </div>
  <div class="right">
    <div class="margin"></div>
  </div>

</div>
